
$color-bg-editor-writeline: #2d303a;
$color-bg-footer: #502290;
$color-bg-menu-title: #3b3a61;
$color-bg-hover-menu: #3d405087;

$color-border-menu: #4a4d58;

$color-text-editor: #cccdcf;
$color-text-footer: #cec9d4;
$color-text-cell: #67717b;

$color-scrollbar-track: #404755;
$color-scrollbar-thumb: #818999c2;
$color-selection: #5e636f;