
$color-bg-editor-writeline: #2d303a;
$color-bg-footer: #502290;
$color-bg-footer-hover: #622ab1;
$color-bg-menu-title: #3b3a61;
$color-bg-hover-menu: #3d405087;

$color-text-general: #bcb8c0;
$color-text-editor: #cccdcf;
$color-text-cell: #67717b;
$color-text-icon: #d9d4dd;

$color-border-tab: #1f1929;

$color-scrollbar-track: #404755;
$color-scrollbar-thumb: #818999c2;

$color-selection: #5e636f;

$width-settings: 15rem;
$width-tab-list: 100px;
$max-width-dir-menu: 65vw;
$min-width-dir-menu: 180px;

$height-tabs: 35px;
$height-footer: 25px;

$font-size-general-icon: 22px;
$font-size-list-icon: 18px;
$font-size-general: 14px;