@import "./variables";

::-webkit-scrollbar{
  width: $font-size-general
}
::-webkit-scrollbar-track{
  background: $color-scrollbar-track;
}
::-webkit-scrollbar-thumb{
  background: $color-scrollbar-thumb;
}

body {
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  margin: 0;
}

.focus-item {
  background: $color-bg-hover-menu;
}

.titlebar {
  color: $color-text-general !important;
}

.editor {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  user-select: none;

  .editor-header {
    display: flex;
    color: $color-text-general;
    text-align: center;

    .editor-setting {
      width: $width-settings;
      padding: 0;
      list-style: none;
      margin: 0;
      display: flex;
      align-items: center;
      li {
        padding: 4px 6px;
        cursor: pointer;
        &:hover {
          color: $color-text-icon;
        }

        .material-icons {
          font-size: $font-size-general-icon;
        }
      }
    }

    .editor-tab {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      height: $height-tabs;
      font-size: $font-size-general;

      li {
        min-width: $width-tab-list;
        padding: 8px;
        padding-right: 27px;
        display: flex;
        position: relative;
        text-align: start;
        align-items: center;
        border-right: 1px solid $color-border-tab;
        cursor: pointer;

        .material-icons {
          font-size: $font-size-list-icon;
          margin-right: 4px;
        }

        .tab-close {
          margin-left: 6px;
          font-size: $font-size-general;
          position: absolute;
          top: 35%;
          left: 80%;
          display: none;
        }
      }
    }
  }

  .editor-main {
    height: 100%;
    display: flex;

    .dir-menu {
      display: flex;
      flex-direction: column;
      text-align: center;
      color: $color-text-general;

      .dir-menu-current {
        padding: 6px;
        background: $color-bg-menu-title;
      }

      .dir-menu-list {
        height: 100%;
        width: $width-settings;
        min-width: $min-width-dir-menu;
        max-width: $max-width-dir-menu;
        resize: horizontal;
        overflow: auto;

        .dir-menu-item {
          padding: 0;
          list-style: none;
          font-size: $font-size-general;

          li {
            padding: 4px 8px 4px 22px;
            text-align: start;
            display: flex;
            align-items: center;
            cursor: pointer;
            &:hover {
              background: $color-bg-hover-menu;
            }

            .material-icons {
              margin-right: 4px;
              font-size: $font-size-list-icon;
            }
          }
        }

        .miss-msg {
          font-size: $font-size-general;
          padding: 8px;
        }
      }
    }

    .text-area {
      width: 100%;
      font-size: 15px;
      background: $color-bg-editor-writeline;
      color: $color-text-editor;
      box-sizing: border-box;
      &:focus {
        outline: none;
      }

      .ace_gutter {

        .ace_gutter-cell {
          color: $color-text-cell;
        }

        .ace_gutter-active-line {
          background: none;
        }
      }

      .ace_marker-layer {

        .ace_active-line {
          border-radius: 3px;
        }

        .ace_selection {
          background: $color-selection;
        }
      }
    }
  }

  .editor-footer {
    padding: 0 6px;
    display: flex;
    height: $height-footer;
    align-items: center;
    justify-content: space-between;
    color: $color-text-general;
    background: $color-bg-footer;
    font-size: $font-size-general;

    .status-path {
      padding: 4px 0;
      white-space: nowrap;
    }

    .status-item {
      display: flex;
      margin: 0;
      padding: 0;
      white-space: nowrap;

      .status-list {
        list-style: none;
        padding: 4px 8px;
        cursor: pointer;
        &:hover {
          background: $color-bg-footer-hover;
        }
      }
    }
  }
}