@charset "UTF-8";
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #404755;
}

::-webkit-scrollbar-thumb {
  background: #818999c2;
}

body {
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  margin: 0;
}

.focus-item {
  background: #3d405087;
}

.focus-item .tab-close {
  display: block !important;
}

.resize {
  position: absolute;
  width: 5px;
  height: 100%;
  right: 0;
  cursor: ew-resize;
}

.titlebar {
  color: #bcb8c0 !important;
}

.container-after-titlebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.directory::before, .open-directory::before, .file::before {
  font-family: 'Material Icons';
  font-size: 18px;
  padding-right: 4px;
  vertical-align: bottom;
}

.directory::before {
  content: "\E2C7";
  color: #c79e67;
}

.open-directory::before {
  content: "\E2C8";
}

.file::before {
  content: "\E24D";
  color: #ada9b3;
}

.editor {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.editor .dir-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #bcb8c0;
  overflow: hidden;
  width: 15rem;
  min-width: 180px;
  max-width: 65vw;
}

.editor .dir-menu::-webkit-scrollbar {
  width: 5px;
  background: #404755;
}

.editor .dir-menu::-webkit-scrollbar:horizontal {
  height: 4px;
}

.editor .dir-menu::-webkit-scrollbar-thumb {
  background: #818999c2;
}

.editor .dir-menu .editor-setting {
  padding: 0;
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.editor .dir-menu .editor-setting li {
  padding: 4px 6px;
  cursor: pointer;
}

.editor .dir-menu .editor-setting li:hover {
  color: #d9d4dd;
}

.editor .dir-menu .editor-setting li .material-icons {
  font-size: 22px;
}

.editor .dir-menu .dir-menu-current-dir {
  padding: 4px 12px;
  font-size: 14px;
  background: #3b3a61;
}

.editor .dir-menu .dir-menu-list {
  height: calc(100% - 25px);
  overflow-y: overlay;
}

.editor .dir-menu .dir-menu-list::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

.editor .dir-menu .dir-menu-list::-webkit-scrollbar:horizontal {
  height: 4px;
}

.editor .dir-menu .dir-menu-list::-webkit-scrollbar-thumb {
  background: #818999c2;
  display: none;
}

.editor .dir-menu .dir-menu-list::-webkit-scrollbar-track {
  display: none;
}

.editor .dir-menu .dir-menu-list .dir-menu-item {
  padding: 0;
  list-style: none;
  font-size: 14px;
}

.editor .dir-menu .dir-menu-list .dir-menu-item li, .editor .dir-menu .dir-menu-list .dir-menu-item ul {
  padding: 4px 8px 4px 10px;
  text-align: start;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.editor .dir-menu .dir-menu-list .dir-menu-item li.hide, .editor .dir-menu .dir-menu-list .dir-menu-item ul.hide {
  display: none;
}

.editor .dir-menu .dir-menu-list .dir-menu-item li .material-icons, .editor .dir-menu .dir-menu-list .dir-menu-item ul .material-icons {
  margin-right: 4px;
  font-size: 18px;
}

.editor .dir-menu .dir-menu-list .not-dir-contents {
  font-size: 14px;
  padding: 8px;
}

.editor .dir-menu .dir-menu-list .not-dir-contents .open-btn {
  margin: 10px;
  background: #49366f;
  color: #bcb8c0;
  border: none;
  padding: 0.5rem 2rem;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}

.editor .dir-menu .dir-menu-list .not-dir-contents .open-btn:hover {
  background-color: #3c2d58;
}

.editor .editor-main {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1e2027;
}

.editor .editor-main .editor-tab {
  margin: 0;
  padding: 0;
  height: 35px;
  width: 100%;
  color: #bcb8c0;
  display: -webkit-box;
  font-size: 14px;
  list-style: none;
  overflow-x: overlay;
  overflow-y: hidden;
}

.editor .editor-main .editor-tab::-webkit-scrollbar {
  width: 5px;
  background: #404755;
}

.editor .editor-main .editor-tab::-webkit-scrollbar:horizontal {
  height: 4px;
}

.editor .editor-main .editor-tab::-webkit-scrollbar-thumb {
  background: #818999c2;
}

.editor .editor-main .editor-tab li {
  min-width: 100px;
  padding: 8px;
  padding-right: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  text-align: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #1f1929;
  cursor: pointer;
}

.editor .editor-main .editor-tab li .material-icons {
  font-size: 18px;
  margin-right: 4px;
}

.editor .editor-main .editor-tab li .tab-close {
  margin-left: 6px;
  font-size: 14px;
  position: absolute;
  top: 35%;
  left: 80%;
  display: none;
}

.editor .editor-main .no-file-msg {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757179;
}

.editor .editor-main .text-area {
  width: 100%;
  height: 100%;
  font-size: 15px;
  background: #2d303a;
  color: #cccdcf;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.editor .editor-main .text-area:focus {
  outline: none;
}

.editor .editor-main .text-area .ace_gutter .ace_gutter-cell {
  color: #67717b;
}

.editor .editor-main .text-area .ace_gutter .ace_gutter-active-line {
  background: none;
}

.editor .editor-main .text-area .ace_marker-layer .ace_active-line {
  border-radius: 3px;
}

.editor .editor-main .text-area .ace_marker-layer .ace_selection {
  background: #5e636f;
}

.editor .editor-main .text-area .ace_scroller .ace_search {
  background-color: #2e2b3e;
  border: 1px solid #22212f;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.editor .editor-main .text-area .ace_scroller .ace_search .ace_search_form input,
.editor .editor-main .text-area .ace_scroller .ace_search .ace_replace_form input {
  background-color: #22212f;
  border: none;
  color: #bcb8c0;
}

.editor .editor-main .text-area .ace_scroller .ace_search .ace_search_form .ace_searchbtn,
.editor .editor-main .text-area .ace_scroller .ace_search .ace_replace_form .ace_searchbtn {
  border: none;
  background-color: #2e2b3e;
  color: #bcb8c0;
}

.editor .editor-main .text-area .ace_scroller .ace_search .ace_search_form .ace_searchbtn::after,
.editor .editor-main .text-area .ace_scroller .ace_search .ace_replace_form .ace_searchbtn::after {
  border-color: #bcb8c0;
}

.editor .editor-main .text-area .ace_scroller .ace_search .ace_search_form .ace_searchbtn:hover,
.editor .editor-main .text-area .ace_scroller .ace_search .ace_replace_form .ace_searchbtn:hover {
  background-color: #494563;
}

.editor .editor-main .text-area .ace_scroller .ace_search .ace_search_form .ace_searchbtn:last-child,
.editor .editor-main .text-area .ace_scroller .ace_search .ace_replace_form .ace_searchbtn:last-child {
  border-right: none;
  border-radius: 0;
}

.editor .editor-main .text-area .ace_scroller .ace_search .ace_search_form.ace_nomatch,
.editor .editor-main .text-area .ace_scroller .ace_search .ace_replace_form.ace_nomatch {
  outline-color: #af2c26;
}

.editor .editor-main .text-area .ace_scroller .ace_search .ace_search_options .ace_button {
  color: #bcb8c0;
}

.editor .editor-main .text-area .ace_scroller .ace_search .ace_search_options .ace_button:hover {
  background-color: #494563;
}

.editor .editor-main .text-area .ace_scroller .ace_search .ace_searchbtn_close {
  top: 11px;
}

.editor .editor-main .hide {
  display: none;
}

.editor-footer {
  padding: 0 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #bcb8c0;
  background: #502290;
  font-size: 14px;
}

.editor-footer .status-path {
  padding: 4px 0;
  white-space: nowrap;
}

.editor-footer .status-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.editor-footer .status-item .status-list {
  list-style: none;
  padding: 4px 8px;
  cursor: pointer;
}

.editor-footer .status-item .status-list:hover {
  background: #622ab1;
}
/*# sourceMappingURL=main.css.map */