.editor-footer {
  padding: 0 6px;
  display: flex;
  height: $height-footer;
  align-items: center;
  justify-content: space-between;
  color: $color-text-general;
  background: $color-bg-footer;
  font-size: $font-size-general;

  .status-path {
    padding: 4px 0;
    white-space: nowrap;
  }

  .status-item {
    display: flex;
    margin: 0;
    padding: 0;
    white-space: nowrap;

    .status-list {
      list-style: none;
      padding: 4px 8px;
      cursor: pointer;
      &:hover {
        background: $color-bg-footer-hover;
      }
    }
  }
}