::-webkit-scrollbar {
  width: $font-size-general
}
::-webkit-scrollbar-track {
  background: $color-scrollbar-track;
}
::-webkit-scrollbar-thumb {
  background: $color-scrollbar-thumb;
}

body {
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  margin: 0;
}

.focus-item {
  background: $color-bg-hover-menu;
  .tab-close {
    display: block !important;
  }
}

.resize {
  position: absolute;
  width: 5px;
  height: 100%;
  right: 0;
  top: 0;
  cursor: ew-resize;
}

.titlebar {
  color: $color-text-general !important;
}

.container-after-titlebar {
  display: flex;
  flex-direction: column;
}

.directory, .open-directory, .file {
  &::before {
    font-family: 'Material Icons';
    font-size: $font-size-list-icon;
    padding-right: 4px;
    vertical-align: bottom;
  }
}

.directory {
  &::before {
    content: "\E2C7";
    color: $color-text-directory;
  }
}

.open-directory {
  &::before {
    content: "\E2C8";
  }
}

.file {
  &::before {
    content: "\E24D";
    color: $color-text-file;
  }
}