
$color-bg-editor-writeline: #2d303a;
$color-bg-editor-main-display: #1e2027;
$color-bg-footer: #502290;
$color-bg-footer-hover: #622ab1;
$color-bg-hover-menu: #3d405087;
$color-bg-menu-title: #3b3a61;
$color-bg-open-btn: #49366f;
$color-bg-open-btn-hover: #3c2d58;
$color-bg-search: #2e2b3e;
$color-bg-search-form: #22212f;
$color-bg-search-btn-hover: #494563;

$color-border-tab: #1f1929;

$color-outline-search: #af2c26;

$color-scrollbar-track: #404755;
$color-scrollbar-thumb: #818999c2;

$color-selection: #5e636f;

$color-text-cell: #67717b;
$color-text-editor: #cccdcf;
$color-text-general: #bcb8c0;
$color-text-icon: #d9d4dd;
$color-text-no-file: #757179;

$font-size-general: 14px;
$font-size-general-icon: 22px;
$font-size-list-icon: 18px;
$font-size-textarea: 15px;

$height-footer: 25px;
$height-tabs: 35px;

$margin-open-btn: 10px;
$padding-icon-length: 27px;

$width-max-dir-menu: 65vw;
$width-min-dir-menu: 180px;
$width-settings: 15rem;
$width-tab-list: 100px;
