.text-area {
  width: 100%;
  height: calc(100% - #{$height-tabs});
  font-size: $font-size-textarea;
  background: $color-bg-editor-writeline;
  color: $color-text-editor;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }

  .ace_gutter {

    .ace_gutter-cell {
      color: $color-text-cell;
    }

    .ace_gutter-active-line {
      background: none;
    }
  }

  .ace_marker-layer {

    .ace_active-line {
      border-radius: 3px;
    }

    .ace_selection {
      background: $color-selection;
    }
  }

  .ace_scroller {
    .ace_search {
      background-color: $color-bg-search;
      border: 1px solid $color-bg-search-form;
      box-shadow: 0 0 6px 0 rgba(0,0,0,.5);

      .ace_search_form,
      .ace_replace_form {
        input {
          background-color: $color-bg-search-form;
          border: none;
          color: $color-text-general;
        }

        .ace_searchbtn {
          border: none;
          background-color: $color-bg-search;
          color: $color-text-general;
          &::after {
            border-color: $color-text-general;
          }

          &:hover {
            background-color: $color-bg-search-btn-hover;
          }

          &:last-child {
            border-right: none;
            border-radius: 0;
          }
        }

        &.ace_nomatch {
          outline-color: $color-outline-search;
        }
      }

      .ace_search_options {
        .ace_button {
          color: $color-text-general;
          &:hover {
            background-color: $color-bg-search-btn-hover;
          }
        }
      }

      .ace_searchbtn_close {
        top: 11px;
      }
    }
  }
}